* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #87CEFA;
}

main {
    width: 100%;
    min-width: 1000px;
    max-width: 1280px;
    margin: auto;
    background: wheat;
}

#stopwatch {
    background: white;
    text-align: center;
    font-size: 110px;
    margin: 0 auto 0 auto;
    width: 500px;
}

.configuracoes {
    background: red;
    margin: auto;
    width: 500px;
    text-align: center;
}

/*
.preset-players, .second-time {
    display: inline;
    margin: 0 20px 0 20px;
}

.gametime {
    margin: 20px;
}

.gametime input{
    margin: 20px;
}



.goal-button {
    background: #1586f7;
    border: none;
    border-radius: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 100px;
    padding: 40px 40px 40px 40px;
    display: inline;
    margin: 50px;
}

.input {
    display: inline;
    border: red 1px solid;
}

.input-name {
    text-align: center;
    
}*/


.game {
    background: rgb(178, 238, 119);
    text-align: center;
    height: 360px;
    display: flex;
}
.team1 {
    background: rgb(233, 101, 101);
    width: 45%;
    display: flex;
    align-items: center;
}
.goal-button {
    background: #1586f7;
    border: none;
    border-radius: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 100px;
    padding: 40px 40px 40px 40px;
    margin: auto;
}

.inserir-nome {
    background: rgb(204, 156, 164);
    height: 40%;
    width: 75%;
    display: flex;
    align-items: center;
}
.input-name {
    border: none;
    width: 90%;
    height: 65px;
    margin: auto;
    font-size: 60px;
}

.nometime {
    background: rgb(204, 156, 164);
    height: 40%;
    width: 75%;
    display: flex;
    align-items: center;
    display: none;
}
.nometime h1 {
    font-size: 60px;
    margin: auto;
}
.btgol {
    background: rgb(201, 42, 68);
    height: 75%;
    width: 25%;
    display: flex;
    align-items: center;
}

.team2 {
    background: rgb(9, 30, 151);
    width: 45%;
}
.x {
    background: pink;
    width: 10%;
    display: flex;
    align-items: center;
}
.x h1 {
    font-size: 100px;
    margin: auto;
}


.controles {
    background: rgb(236, 182, 182);
    text-align: center;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.controles button {
    border: none;
    width: 240px;
    height: 50px;
    margin: 5px auto 5px auto;
}
.controles button:hover {
    background: gray;
}