#score-in-game {
  background: #87CEFA;
  font-family: "Roboto", sans-serif;
}

.goalButtons #btGoalTeam1, #btGoalTeam2{
    background: #1586f7;
    border-radius: 15px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 60px;
    padding: 40px 25px 40px 25px;
  }
